* {
    box-sizing:border-box;
}

body{
    background-color: antiquewhite;
}

.header{
    background-image:url("header_img.jpg"); 
    background-size:cover;
    background-position:center;
    height: 500px;
    display:flex;
    justify-content:space-between;
    align-items: center;

}

#logo{
    max-height:200px;
    max-width:500; 
    position:absolute;
    top:20px;
    left:20px;
    

}

h1{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}

#cancun{
    color:white;
    position:absolute;
    top:320px;
}

#icon{
    position:absolute; 
    top:290px;
}

nav{
    border:3px solid pink;
    background-color: pink;
    padding:0px;
    margin-top:auto;
    width:100vw; 
    display:flex;
    align-items: center;
    justify-content:flex-start;
}

nav ul{
    
    display:flex;
    gap:2rem; 
    list-style-type: none;
    margin:0;
    padding:0;
    
}

nav ul li{
    margin:0 15px; 
}

nav ul li a{
    color:white;
    text-decoration: none;
    font-family:Arima Madurai;
}

nav ul li a:hover{
    text-decoration: underline;
    color:rgb(249, 50, 83);
}

#book{
    border:none;
    padding:10px;
    position:relative;
    background-color:rgb(249, 50, 83);
    color:white;
    border-radius:10px;
}

#book:hover{
    background-color: aliceblue;
    color:black;
}

main{
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:7rem;
    justify-content: center;
}

h2{
    color:rgb(80, 61, 39);
    font-family:Arima Madurai;
}

#welcome{
    border:3px solid aliceblue;
    background-color: aliceblue;
    color:rgb(80, 61, 39);
    padding:10px;
    width:500px;
    font-family:Arima Madurai;
    text-align: center;
}

#couple{
    max-width:500px;
}

#bench{
    max-width:500px;
}

footer{
    background-color: pink;
    color:white;
    text-align:center;
    padding:20px;
}

#footerlogo{
    display:flex;
    width:300px;
    
}

